.footer {
    width: 100%;
    background-color: rgb(202, 202, 202);
    color: rgb(0, 0, 0);
    padding:10px 0 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }
 .footer span{
     margin-left: 20px;
 }
 .Feed{
     margin-right: 50px;
     animation: feed 2s infinite;
     cursor: pointer;
 }
 @keyframes feed {
	0% {
		color: black;
	}
	50% {
		color: #03adfc;
	}
	100% {
		color: black;
	}
}