.feedback {
    width: 80vw;
    margin-left: 5vw;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
}

.feedback div {
    display: flex;
}

.feedback input, textarea {
    width: 300px;
    margin: 1rem;
}

.feedback span {
    margin: 2rem;
}

#email {
    border: none;
    height: 30px;
    border: 2px solid #555555;
    padding-left: 10px;
}

#name {
    border: none;
    height: 30px;
    border: 2px solid #555555;
    padding-left: 10px;
}

#message {
    border: none;
    height: 80px;
    border: 2px solid #555555;
    padding: 10px;
}

.feedback button {
    border-radius: 5px;
    background-color: white;
    color: black;
    border: 2px solid #555555;
    height: 3rem;
    outline: 0;
    padding: 3px 25px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    margin: 20px;
    margin-right: 100px;
}

.feedback button:hover {
    background-color: #555555;
    color: white;
}