.feedback {
    width: 30vw;
    left: 35vw;
    bottom: 10vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 10px 0 50px 0;
    align-items: center;
    border: 2px solid #03adfc;
    border-radius: 5px;
    -webkit-box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.3);
    box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.close {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: #03adfc;
}

.close i {
    cursor: pointer;
}

.feedback input, textarea {
    width: 80%;
    border: none;
    border-bottom: 2px solid black;
    margin: 5%;
    transition: 500ms;
}

.feedback input:focus, textarea:focus {
    border-bottom: 2px solid #03adfc;
    transition: 500ms;
}

.feedback button {
    width: 30%;
    margin: 5px 0 5px 0;
    background-color: #03adfc;
    border: 1px solid white;
    border-radius: 0.2rem;
    padding: 3px;
    color: white;
    cursor: pointer;
}

.feedback button:hover {
    -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}