  img {
    height: 100vh;
    width: 100vw; 
    object-fit: cover;
    opacity: 0.2;
  }

  .hero-image {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    font-size: 25px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
  }
  
  .intro{
    height:90vh;
  }