html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'HelveticaNeueW01-45Ligh', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgb(32, 69, 94);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}