.topbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height:10vh;
}

.topbar button {
  height: 3rem;
  border-color: #00122c;
  outline: 0;
  padding: 10px 25px;
  color: black;
  font-weight: bold;
  background-color: white;
  text-align: center;
  cursor: pointer;
  margin: 20px;
  margin-right: 100px;
}

.topbar button:hover {
  background-color: #ffabab;
  border-color: black;
  color: rgb(0, 0, 0);
}

#bar {
  margin: 20px;
  padding: 5px;
  padding-left: 100px;
}

.fa {
  padding: 8px;
  font-size: 25px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-skype {
  background: #00aff0;
  color: white;
}